body {
	background-color: #F4F4F4;
}

.navbar-default {
	border-bottom-color: #EFE5E7;
}

.navbar-nav {
	letter-spacing: 1.5px;
	font-family: 'NovecentowideLightBold', 'Helvetica', 'Arial', sans-serif;
}

.navbar-nav a:hover{
	color: #B27F87 !important;	
		-webkit-transition: color 0.2s ease;
		-moz-transition: color 0.2s ease;
		-ms-transition: color 0.2s ease;
		-o-transition: color 0.2s ease;
		transition: color 0.2s ease;
}